.fondoImagen {
    background-image: url("../../imagenes/fondo/vista-superior-herramientas-jardineria-maceta.jpg"); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Establece la altura según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .container-title{
    color: white;
    width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 1rem;
    text-align: center;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  background-image: "../../imagenes/fondo/vista-superior-herramientas-jardineria-maceta-min.jpg";
  padding: 0 !important;
  max-width: 100% !important;
}

.container-productos {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
}
.subtitulos {
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  color: #739332;
}
.poppins{
  font-family: 'Poppins', sans-serif;

}
@media (max-width: 768px){
  .mobile-ocultar{
    display: none;
  }
  .container-title h1:nth-child(1){
    font-size: 3rem;
  }
  .fondoImagen{
    height: 90vh;
  }
}