.container-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.card-nosotros{
    width: 90%;
    height: 70%;
    margin: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.card-nosotros img{
    width: 20rem;
}
@media (max-width: 768px) {
    .card-nosotros img{
        width: 50%;
        margin-bottom: 1rem;
    }
    .container-nosotros{
        flex-direction: column;
    }
    .card-nosotros{
        flex-direction: column-reverse;
        height: 90%;
        text-align: center;
    }
}